/* Poppins font integration */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

#root {
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h3 {
  text-align: left;
  margin-top: 50px;
  margin-left: 150px;
}
.Left-align {
  text-align: left;
  margin-left: 150px;
  margin-bottom: 5px;
}

.Banner-image {
  width: 100%;
  height: auto;
}

nav {
  background-color: #cae9ff;
  margin-bottom: 10px;
  padding: 20px;
  display: column;
  align-items: center;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  width: 15%;
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav ul li {
  margin-left: 15px;
  margin-right: 15px;
}

.Main-content {
  padding-bottom: 300px;
}

footer {
  background-color: #cae9ff;
  color: #1b4965;
  padding: 5px;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: block;
  margin-top: 500px;
}

.departure-holder {
  margin: 3px;
  padding: 3px 8px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 6px;
  background: white;
  color: black;
  outline: none;
}

.destination-holder {
  margin: 3px;
  padding: 3px 8px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  color: black;
  outline: none;
}

.calculateroute-button {
  width: 120px;
  height: 35px;
  background-color: rgb(74, 74, 233);
  border-radius: 6px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 3px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin: 6px;
}

.calculateroute-button:hover {
  background-color: rgba(28, 28, 192, 0.86);
}

.clearroute-button {
  width: 120px;
  height: 35px;
  background-color: rgb(213, 68, 20);
  border-radius: 6px;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 3px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  margin: 6px;
}

.clearroute-button:hover {
  background-color: rgb(197, 54, 6);
}

/*

nav ul li:hover {
  border-radius: 5px;
  background-color: rgba(60, 60, 60, 0.2);
}

*/
